<div><div>
<h1><%= @the_board.name %></h1>
</div></div>

<hr>
<div>
<h2>Add a new post</h2>
<form action="/insert_post/<%= @the_board.id %>"  method="post" >
    <label for="title_field">Title</label>
    <input type="text" id="title_field" name="title" value="<%= @the_board.name %>">

    <label for="body_field">Body</label>
    <input type="text" id="body_field" name="body" value="<%= @the_board.name %>">
</form>
</div>

<div>
  <div>
    <h2>Edit board</h2>

    <form action="/modify_board/<%= @the_board.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_board.name %>">
      </div>

      <button>
        Update board
      </button>
    </form>
  </div>
</div>

<hr>
